
    <header>
        <div class="top-section">
          <div class="logo">
            <img src="./assets/images/logo.svg" alt="Beinex" />
          </div>
  
  
          <ul class="title-sub">
            <li>Services</li>
            <li>Partners</li>
            <li>Industries</li>
            <li>Companies</li>
            <li>Events</li>
            <li>Careers</li>
            <li>Blog</li>
            <li>Training</li>
            
          </ul>
        </div>
      </header>
  
      <nav>
        <div class="top-section-sub">
          <h2>Testimonials</h2>
        </div>
      </nav>
