<section>
    <div class="title-section">
      <div class="heading">
        <div class="quote">
          <img src="./assets/images/quote-left-svgrepo-com.svg" alt="" />
        </div>
        <h1>What are our client saying</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
          volutpat
        </p>
      </div>
      <div class="video">
        <img src="./assets/images/video.png" alt="Video" />
      </div>
    </div>
  </section>

  <!-- CARD SECTION -->

  <article>
    <div class="card-main">
      <div class="card">
        <div class="mark">
          <img class="qt" src="./assets/images/quote.svg" alt="quote" />
        </div>
        <div class="card-title">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
        </div>
        <div class="card-para">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
            officia tempore vero sunt dicta, fuga necessitatibus voluptate
            saepe magnam qui voluptatum voluptatibus repellendus a. Ducimus,
            dignissimos iusto? Mollitia facilis iste qui earum?
          </p>
        </div>
        <div class="card-name">
          <p class="name">John Doe</p>
          <p class="tag">Destination</p>
        </div>
      </div>

      <div class="card">
        <div class="mark">
          <img class="qt" src="./assets/images/quote.svg" alt="quote" />
        </div>
        <div class="card-title">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
        </div>
        <div class="card-para">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
            officia tempore vero sunt dicta, fuga necessitatibus voluptate
            saepe magnam qui voluptatum voluptatibus repellendus a. Ducimus,
            dignissimos iusto? Mollitia facilis iste qui earum?
          </p>
        </div>
        <div class="card-name">
          <p class="name">John Doe</p>
          <p class="tag">Destination</p>
        </div>
      </div>

      <div class="card">
        <div class="mark">
          <img class="qt" src="./assets/images/quote.svg" alt="quote" />
        </div>
        <div class="card-title">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
        </div>
        <div class="card-para">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
            officia tempore vero sunt dicta, fuga necessitatibus voluptate
            saepe magnam qui voluptatum voluptatibus repellendus a. Ducimus,
            dignissimos iusto? Mollitia facilis iste qui earum?
          </p>
        </div>
        <div class="card-name">
          <p class="name">John Doe</p>
          <p class="tag">Destination</p>
        </div>
      </div>

      <div class="card">
        <div class="mark">
          <img class="qt" src="./assets/images/quote.svg" alt="quote" />
        </div>
        <div class="card-title">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
        </div>
        <div class="card-para">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
            officia tempore vero sunt dicta, fuga necessitatibus voluptate
            saepe magnam qui voluptatum voluptatibus repellendus a. Ducimus,
            dignissimos iusto? Mollitia facilis iste qui earum?
          </p>
        </div>
        <div class="card-name">
          <p class="name">John Doe</p>
          <p class="tag">Destination</p>
        </div>
      </div>

      <div class="card">
        <div class="mark">
          <img class="qt" src="./assets/images/quote.svg" alt="quote" />
        </div>
        <div class="card-title">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
        </div>
        <div class="card-para">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
            officia tempore vero sunt dicta, fuga necessitatibus voluptate
            saepe magnam qui voluptatum voluptatibus repellendus a. Ducimus,
            dignissimos iusto? Mollitia facilis iste qui earum?
          </p>
        </div>
        <div class="card-name">
          <p class="name">John Doe</p>
          <p class="tag">Destination</p>
        </div>
      </div>

      <div class="card">
        <div class="mark">
          <img class="qt" src="./assets/images/quote.svg" alt="quote" />
        </div>
        <div class="card-title">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
        </div>
        <div class="card-para">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
            officia tempore vero sunt dicta, fuga necessitatibus voluptate
            saepe magnam qui voluptatum voluptatibus repellendus a. Ducimus,
            dignissimos iusto? Mollitia facilis iste qui earum?
          </p>
        </div>
        <div class="card-name">
          <p class="name">John Doe</p>
          <p class="tag">Destination</p>
        </div>
      </div>
    </div>

    <div class="content-sub">
      <div class="form">
        <form action="get">
          <p class="req">Request A Demo</p>

          <div class="n-e">
            <input placeholder="Name" type="name" />
            <div class="person">
              <img src="./assets/images/person.png" alt="person" />
            </div>

            <input placeholder="Email" type="email" />
            <div class="mail">
              <img
                src="./assets/images/mail-142.svg"
                alt="letter"
              />
            </div>
          </div>

          <div class="c-p">
            <input placeholder="Select Country" type="text" />
            <div class="country">
              <img
                src="./assets/images/world-2-svgrepo-com.svg"
                alt="world"
              />
            </div>

            <input placeholder="Phone Number" type="tel" />
            <div class="tel">
              <img src="./assets/images/phone-svgrepo-com.svg" alt="phone" />
            </div>
          </div>

          <div class="c-j">
            <input placeholder="Company" type="text" />
            <div class="cmp">
              <img
                src="./assets/images/building-06-svgrepo-com.svg"
                alt="company"
              />
            </div>

            <input placeholder="Job Role" type="text" />
            <div class="role">
              <img src="./assets/images/person.png" alt="role" />
            </div>
          </div>
          <div class="msg">
            <textarea
              name="message"
              placeholder="Message"
              id="msgs"
            ></textarea>
            <div class="ms">
              <img src="./assets/images/comment-svgrepo-com.svg" alt="cmt" />
            </div>
          </div>
          <div class="sub-btn">
            <button class="btn">Submit</button>
            <div class="arrow">
              <img
                src="./assets/images/reshot-icon-right-arrow-button-YAB8GEM7SD-c5f61.svg"
                alt="button"
              />
            </div>
          </div>
        </form>
      </div>

      <div class="content-text">
        <p class="text1">What Will Be The Next Step ?</p>
        <p>
          One of our executives will get in touch with you to gather your
          requirement.
        </p>
        <p>We will analyse the requirement and schedule a virtual demo.</p>
      </div>
    </div>
  </article>

  <footer>
    <div class="footer">
      <div class="f1">
        <img src="./assets/images/logo.svg " alt="Beinex" />
        <ul>
          <li>About Beinex</li>
          <li>Careers</li>
          <li>Press Releases</li>
          <li>Beinex in the News</li>
        </ul>
      </div>

      <div class="f2">
        <h2 class="ser">Our Services</h2>
        <div class="ul-set">
          <ul>
            <li>Advanced Analytics</li>
            <li>AI /ML/RPA</li>
            <li>Alteryx APA</li>
            <li>Risk and Audit Analytics</li>
            <li>Beinex Digital</li>
            <li>Business Intelligence</li>
          </ul>

          <ul>
            <li>Competitive Intelligence</li>
            <li>Modern Cloud Analytics</li>
            <li>Risk Analytics</li>
            <li>Tableau</li>
            <li>Tableau Support Services</li>
          </ul>
        </div>
      </div>

      <div class="f3">
        <h2>Our Industries</h2>
        <ul>
          <li>Finance</li>
          <li>Human Resources</li>
          <li>Procurement</li>
          <li>Sales</li>
        </ul>
      </div>

      <div class="f4">
        <h2>Our Partners</h2>

        <div class="ul-set2">
          <ul>
            <li>Tableau</li>
            <li>Alteryx</li>
            <li>Aurex.ai</li>
            <li>Amazon Web Services</li>
          </ul>

          <ul>
            <li>Microsoft Azure</li>
            <li>Snowflake</li>
            <li>Salesforce</li>
            <li>Alation</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <ul class="btm-ul">
        <li>Privacy Policy</li>
        <li class="bd">Terms of Use</li>
        <li>Cookie Policy</li>
      </ul>

      <div class="social">
        <a href="#">
          <img
            src="./assets/images/reshot-icon-linkedin-G7YJ8FXBKT.svg"
            alt="Ln"
          />
        </a>
        <a href="#">
          <img
            src="./assets/images/reshot-icon-twitter-4EAXDHGYM5.svg"
            alt="Fb"
          />
        </a>

        <a href="#">
          <img
            src="./assets/images/reshot-icon-twitter-4EAXDHGYM5.svg"
            alt="Tweet"
          />
        </a>

        <a href="#">
          <img
            src="./assets/images/reshot-icon-instagram-M2ZK3USTWR.svg"
            alt="instagram"
          />
        </a>
      </div>

      <p>Copyright © 2022 - 23 Beinex</p>
    </div>
  </footer>